body{
    background-color: #12121B;
}

.pagina_dashboard{
    justify-self: end;
    background-color: #12121B;
    width: 80%;
    min-height: 100vh;
}

.kpis{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px 20px 0 20px;
}

.kpi_item{
    border-radius: 10px;
    height: 150px;
    border: 1px solid #BF1429;
}

.titulo_kpi{
    display: flex;
    font-size: 28px;
    font-family: 'cinzel';
    font-weight: 600;
    justify-self: center;
    color: white;
}

.conteudo{
    margin-top: 30px;
    justify-self: center;
}

.conteudo span{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

#pontuacao{
    color: white;
}

#grafico_barra{
    margin: 20px;
    margin-top: 50px;
    height: 500px;
    border: 1px solid #BF1429;
    border-radius: 10px;
}

#titulo_grafico_barra{
    color: #BF1429;
    font-size: 26px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
    text-transform: uppercase;

}

.cores{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cor{
    display: flex;
}

.cor span{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
}

#azul{
    width: 40px;
    height: 15px;
    background-color: blue;
    align-self: center;
    margin-right: 10px;
}

#amarelo{
    width: 40px;
    height: 15px;
    background-color: yellow;
    align-self: center;
    margin-right: 10px;
}

#vermelho{
    width: 40px;
    height: 15px;
    background-color: red;
    align-self: center;
    margin-right: 10px;
}

#container_grafico{
    height: 350px;
    padding: 0 20px 20px 20px;
}
