body{
    margin: 0;
    padding: 0;
    font-style: none;
    background-color: black;
}

/* Header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #4A0C14;
    background-color: black;
}

.header a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
    font-family: 'cinzel';
    font-size: 12px;
    letter-spacing: 1.5px;
    transition: 0.3s;
}

.header a:hover{
    color: white;
    transform: translateY(-3px);
}

.navegacao{
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}

.logo img{
    width: 120px;
    height: auto;
}

.voltar_inicio a{
    color: white;
}

.voltar_inicio{
    transition: 0.5s;
}

.voltar_inicio:hover{
    transform: translateX(-5px);
}

/* Seção de login / cadastro */
.container{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.decoracao{
    border: 1px solid #4A0C14;
    background-color: #1F0912;
    display: flex;
    align-items: center;
}

.decoracao img{
    height: 400px;
}

.formulario{
    display: flex;
    flex-direction: column;
    border: 1px solid #4A0C14;
    padding: 2% 2% 2% 2%;
    gap: 20px;
    background-color: #111119;
}

.titulo{
    font-family: 'cinzel';
    font-size: 40px;
    color: white;
}

.campo{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.70);
    text-transform: uppercase;
    font-size: 14px;
}

input{
    background: none;
    border: none;
    padding: 5px;
    color: white;
    width: 100%;
}

.container_campo{
    background-color: #0D0D15;
    border: 1px solid #1E1420;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.container #olho_visualizacao{
    background: none;
    border: none;
    height: 25px;
    cursor: pointer;
}

.container #olho_visualizacao2{
    background: none;
    border: none;
    height: 25px;
    cursor: pointer;
}

#olho_visualizacao #olho{
    height: 25px;
    width: auto;
}

#olho_visualizacao2 #olho2{
    height: 25px;
    width: auto;
}

.botao_formulario{
    border: none;
    background-color: #BF1429;
    color: white;
    font-family: 'Cinzel';
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.botao_formulario:hover{
    background-color: #111119;
    color: #BF1429;
    transform: scale(1.05);
    border: 1px solid #BF1429;
}

.campo_adicional{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.50);
}

span #texto_href{
    color: #BF1429;
}

span #texto_href:hover{
    color: rgba(255, 255, 255, 0.50);
}