.quiz{
    height: 100vh;
    width: 80%;
    background-color: #12121B;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
}

.alerta{
    border: 1px solid #BF1429;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    padding: 25px 35px;
    gap: 20px;
    background-color: black;
}

#titulo_alerta{
    color: white;
    font-family: 'Cinzel';
    font-size: 24px;
    font-weight: 700;
}

#desc_alerta{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'cinzel'
}

#botao_iniciar_quiz{
    color: #BF1429;
    background-color: black;
    border: 1px solid #BF1429;
    padding: 7px 15px;
    cursor: pointer;
    transition: 0.3s;
}

#botao_iniciar_quiz:hover{
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-5px);
}







.jogo{
    border: 1px solid #BF1429;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 700px;
    padding: 25px 35px;
    gap: 20px;
    font-family: 'cinzel';
    background-color: black;
}

#infoQuestao{
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.respostas{
    width: 100%;
}

.opcoes{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    font-size: 20px;
}

.botoes{
    margin-top: 20px;
    display: flex;
    gap: 25px;
    justify-content: center;
    
}

.botoes button{
    background-color: #BF1429;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.botoes button:disabled{
    opacity: 0.3;
    cursor: auto;
}

.botoes button:enabled:hover{
    transform: translateY(-5px);
    opacity: 0.7;
}

#alerta_erro{
    color: #BF1429;
    margin-top: 10px;
    font-size: 20px;
}

#tela_final{
    border: 1px solid #BF1429;
    display: none;
    flex-direction: column;
    align-items: start;
    width: 700px;
    padding: 25px 35px;
    gap: 20px;
    font-family: 'cinzel';
    background-color: black;
    align-items: center;
}

#pontos_usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo_pontos{
    font-size: 20px;
    color: white;
}